{% extends "template_v2.html" %}
{% load static %}
{% load group_filters %}
{% block content %}

<!-- Modal HTML Markup -->
<div id="imageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div id="modalContainer" style="position: relative;">
                    <img id="modalImage" src="#" class="img-fluid">
                    <svg id="modalSvg" style="position: absolute; top: 0; left: 0;" width="100%" height="100%">
                        
                    </svg>
                </div>
                <hr>
                <div style="position: relative;">
                    <p class="fw-bold">Mô tả</p>
                    <div id="imageDescription" class="mt-3"></div>
                </div>
            </div>
            <div class="modal-footer align-items-center justify-content-center mb-2">
                <div class="container d-flex align-items-center justify-content-center mb-2">
                    {% if request.user.is_authenticated %}
                        {% if request.user|has_group:"Users" %}
                            <button id="detailsButton" class="btn btn-success mx-1" data-slug="">Chi tiết</button>
                        {% endif %}
                    {% endif %}
                    <button id="downloadButton" class="btn btn-secondary mx-1">Tải ảnh</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="background-color: #F5F5F5;">
    <div class="container py-3">
        <div class="d-flex justify-content-center">
        <p class="fw-bold fs-2">Hình ảnh {{ specie_info.vi_name }} - {{ specie_info.name }}</p>
     </div>
    <div>
        <hr>
    </div>
     <div class="row mt-3 ">
        {% for image in page_obj %}
            <div class="d-flex flex-wrap col-sm-6 col-md-4 col-lg-3 mb-3"  data-desc="{{ image.desc }}">
                <!-- <div class="card"> -->
                    <svg class="img-fluid border rounded shadow-sm" viewBox="0 0 {{ image.width }} {{ image.height }}" data-insect-id="{{ image.insects.insects_id }}" data-insect-slug="{{ image.insects.slug }}">
                        <image href="{{ MEDIA_URL }}{{ image.url }}" data-src="{{ MEDIA_URL }}{{ image.url }}" height="100%" width="100%" />
                        {% for bbox in image.bboxes.all %}
                        {% with text_x=bbox.x|add:2 text_y=bbox.y|add:15 %}
                            <rect x="{{ bbox.x }}" y="{{ bbox.y }}" width="{{ bbox.width }}" height="{{ bbox.height }}" style="stroke:red;stroke-width:2;fill-opacity:0" />
                            <text x="{{ text_x }}" y="{{ text_y }}" fill="red" class="bbox-text" font-size="18">{{ image.insects.name }}</text>
                        {% endwith %}
                        {% endfor %}
                    </svg>

                <!-- </div> -->
            </div>
        {% endfor %}
    </div>
     <div class="container mt-5 d-flex justify-content-center">
        <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1&specie_id={{specie_id}}" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&specie_id={{specie_id}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    <li class="page-item disabled">
                        <span class="page-link">Trang {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                    </li>

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}&specie_id={{specie_id}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&specie_id={{specie_id}}" aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
    </div>
    </div>
</div>


<!--Scripts-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $(document).on('click', 'svg', function() {
        var imageUrl = $(this).find('image').attr('href');
        var bboxesData = [];
        $(this).find('rect').each(function() {
            var bbox = {};
            bbox.x = $(this).attr('x');
            bbox.y = $(this).attr('y');
            bbox.width = $(this).attr('width');
            bbox.height = $(this).attr('height');
            bbox.text = $(this).next('text').text(); // Get the text associated with the bounding box
            bboxesData.push(bbox);
        });
        var insectName = $(this).find('.bbox-text').text(); // Get the insect name from the SVG
        var viewBox = $(this).attr('viewBox'); // Get the viewBox from the SVG
        var insectId = $(this).data('insect-id'); // Get the insect ID from the SVG's data attributes
        var insectSlug = $(this).data('insect-slug'); // Retrieve the slug from the data attribute
        var imageDesc = $(this).closest('.d-flex').data('desc');
        openModal(imageUrl, bboxesData, insectName, insectId, viewBox, insectSlug, imageDesc);
    });

    function openModal(imageUrl, bboxesData, insectName, insectId, viewBox, insectSlug, imageDesc) {
        var id = insectId;
        var slug = insectSlug
        $('#imageModalLabel').text(insectName);
        $('#modalImage').attr('src', imageUrl);
        $('#modalSvg').attr('viewBox', viewBox);
        $('#modalSvg').empty();

        $('#detailsButton').attr('data-slug', insectSlug);
<!--        $('#3dButton').attr('data-slug', insectSlug);-->
        $('#imageModal').modal('show');

        $('#imageDescription').text((imageDesc && imageDesc !== "None") ? imageDesc : 'Không có mô tả.');

        // Add bounding boxes and text to the SVG
        bboxesData.forEach(function(bbox) {
            var rect = document.createElementNS("http://www.w3.org/2000/svg", "rect");
            rect.setAttribute("x", bbox.x);
            rect.setAttribute("y", bbox.y);
            rect.setAttribute("width", bbox.width);
            rect.setAttribute("height", bbox.height);
            rect.setAttribute("style", "stroke:red;stroke-width:2;fill-opacity:0");
            $('#modalSvg').append(rect);

            var text = document.createElementNS("http://www.w3.org/2000/svg", "text");
            text.setAttribute("x", bbox.x);
            text.setAttribute("y", bbox.y);
            text.setAttribute("fill", "red");
            text.setAttribute("font-size", "18");
            text.textContent = bbox.text; // Display the text associated with the bounding box
            $('#modalSvg').append(text);
        });

        $('#imageModal').modal('show');
    }
        $('#detailsButton').on('click', function() {
            var imgId = $('#modalImage').attr('src').split('/').pop().split('.')[0];
            if (imgId) {
                window.location.href = '/add_desc_step2/?img_id=' + imgId;
            } else {
                console.error('Image ID is missing');
            }
        });



    $(document).ready(function() {
        $('#chk_insect_name').change(function() {
            if (this.checked) {
                $('.bbox-text').show();
            } else {
                $('.bbox-text').hide();
            }
        });
    });

    $('#downloadButton').on('click', function() {
        var imageUrl = $('#modalImage').attr('src');  // Lấy URL của ảnh trong modal
        if (imageUrl) {
            // Tạo một thẻ <a> giả và sử dụng nó để tải ảnh về
            var a = document.createElement('a');
            a.href = imageUrl;
            a.download = imageUrl.split('/').pop();  // Lấy tên ảnh từ URL (phần sau dấu '/')
            a.click();
        } else {
            console.error('Không tìm thấy URL ảnh');
        }
    });



</script>


{% endblock %}
