{% extends "template_v2.html" %}
{% block content %}
<div class="container py-3">
    <div class="d-flex justify-content-center">
        <p class="fw-bold fs-2">Quản Lý Nhãn Và Bounding Box</p>
    </div>
    <nav class="mb-3">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-addlabel-tab" data-bs-toggle="tab" data-bs-target="#nav-addlabel" type="button" role="tab" aria-controls="nav-addlabel" aria-selected="true">Gán nhãn</button>
            <button class="nav-link" id="nav-editLabel-tab" data-bs-toggle="tab" data-bs-target="#nav-editLabel" type="button" role="tab" aria-controls="nav-editLabel" aria-selected="false">Chỉnh sửa nhãn</button>
        </div>
    </nav>
    <div class="tab-content mb-3" id="nav-tabContent">
        <!--        ============================================Gán nhãn==========================================-->
        <div class="tab-pane fade show active" id="nav-addlabel" role="tabpanel" aria-labelledby="nav-addlabel-tab" tabindex="0">
            <!--     Bộ lọc loài-->
            <form method="get" class="mb-3 d-flex align-items-center">
                <label for="species_add" class="me-2">Chọn Loài:</label>
                <select name="species_add" id="species_add" class="form-select w-auto">
                    <option value="">Tất cả</option>
                    {% for sp in species_list %}
                    <option value="{{ sp.insects_id }}" {% if selected_species_add|slugify == sp.insects_id|stringformat:"s" %}selected{% endif %}>
                    {{ sp.ename }} - {{ sp.name }}
                    </option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary ms-2">
                    <i class="bi bi-funnel"></i> Lọc
                </button>
                <button type="button" class="btn btn-secondary ms-2" id="reset-filter-add">
                    <i class="bi bi-arrow-clockwise"></i> Làm mới
                </button>
            </form>
            <div class="table-responsive" style="max-height: 550px; overflow-y: auto;">
                <table class="table table-bordered">
                    <thead class="table-dark" style="position: sticky; top: 0; z-index: 10;">
                    <tr>
                        <th>Hình Ảnh</th>
                        <th>ID</th>
                        <th>Loài</th>
                        <th>Mô Tả</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if images_without_bbox %}
                        {% for image in images_without_bbox %}
                        <tr>
                            <td>
                                <img src="{{ image.get_absolute_url }}" class="img-thumbnail" width="170" alt="Hình ảnh">
                            </td>
                            <td>{{ image.img_id }}</td>
                            <td>
                                <p>{{ image.insects.ename|default:"None" }} - </p>
                                <p>{{ image.insects.name|default:"None" }}</p>
                            </td>
                            <td>{{ image.desc }}</td>
                            <td>
                                <button class="btn btn-success btn-sm add-bbox-btn" id="add-bbox-btn" data-id="{{ image.img_id }}">
                                    Gán nhãn
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <td colspan="5" class="text-center text-muted">Danh sách trống...</td>
                    {% endif %}
                    </tbody>
                </table>
                <!-- Hiển thị phân trang -->
                <div style="position: sticky; bottom: 0; z-index: 10; background: white;">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if images_without_bbox.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page_images=1&species={{ selected_species_add }}">&laquo;</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page_images={{ images_without_bbox.previous_page_number }}&species={{ selected_species_add }}">‹</a>
                            </li>
                            {% endif %}

                            <li class="page-item disabled">
                                <span class="page-link">Trang {{ images_without_bbox.number }} / {{ images_without_bbox.paginator.num_pages }}</span>
                            </li>

                            {% if images_without_bbox.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page_images={{ images_without_bbox.next_page_number }}&species={{ selected_species_add }}">›</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page_images={{ images_without_bbox.paginator.num_pages }}&species={{ selected_species_add }}">&raquo;</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!--        ============================================Chỉnh sửa nhãn==========================================-->
        <div class="tab-pane fade" id="nav-editLabel" role="tabpanel" aria-labelledby="nav-editLabel-tab" tabindex="1">
            <!--     Bộ lọc loài-->
            <form method="get" class="mb-3 d-flex align-items-center">
                <label for="species_edit" class="me-2">Chọn Loài:</label>
                <select name="species_edit" id="species_edit" class="form-select w-auto">
                    <option value="">Tất cả</option>
                    {% for sp in species_list %}
                    <option value="{{ sp.insects_id }}" {% if selected_species_edit|slugify == sp.insects_id|stringformat:"s" %}selected{% endif %}>
                    {{ sp.ename }} - {{ sp.name }}
                    </option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary ms-2">
                    <i class="bi bi-funnel"></i> Lọc
                </button>
                <button type="button" class="btn btn-secondary ms-2" id="reset-filter-edit">
                    <i class="bi bi-arrow-clockwise"></i> Làm mới
                </button>
            </form>
            <div class="table-responsive" style="max-height: 550px; overflow-y: auto;">
                <table class="table table-bordered">
                    <thead class="table-dark"  style="position: sticky; top: 0; z-index: 10;">
                    <tr>
                        <th>Hình Ảnh</th>
                        <th>ID</th>
                        <th>Loài</th>
                        <th>X</th>
                        <th>Y</th>
                        <th>Width</th>
                        <th>Height</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if bboxes_grouped %}
                    {% for image, bbox_list in bboxes_grouped.items %}
                    {% for bbox in bbox_list %}
                    <tr>
                        {% if forloop.first %}
                        <td rowspan="{{ bbox_list|length }}">
                            <img src="{{ image.get_absolute_url }}" class="img-thumbnail" width="170" alt="Hình ảnh">
                        </td>
                        {% endif %}
                        <td>{{ bbox.box_id }}</td>
                        <td>
                            <p>{{ image.insects.ename|default:"None" }} - </p>
                            <p>{{ image.insects.name|default:"None" }}</p>
                        </td>
                        <td>{{ bbox.x }}</td>
                        <td>{{ bbox.y }}</td>
                        <td>{{ bbox.width }}</td>
                        <td>{{ bbox.height }}</td>
                        {% if forloop.first %}
                        <td rowspan="{{ bbox_list|length }}">
                            <button class="btn btn-primary btn-sm add-bbox-btn" id="edit-bbox-btn" data-id="{{ image.img_id }}">
                                Chỉnh sửa
                            </button>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    {% endfor %}
                    {% else %}
                    <td colspan="8" class="text-center text-muted">Danh sách trống...</td>
                    {% endif %}
                    </tbody>
                </table>
                <!-- Hiển thị phân trang -->
                <div style="position: sticky; bottom: 0; z-index: 10; background: white;">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if bboxes_images_paginated.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page_bbox=1&species_edit={{ selected_species_edit }}">&laquo;</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page_bbox={{ bboxes_images_paginated.previous_page_number }}&species_edit={{ selected_species_edit }}">‹</a>
                            </li>
                            {% endif %}

                            <li class="page-item disabled">
                                <span class="page-link">Trang {{ bboxes_images_paginated.number }} / {{ bboxes_images_paginated.paginator.num_pages }}</span>
                            </li>

                            {% if bboxes_images_paginated.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page_bbox={{ bboxes_images_paginated.next_page_number }}&species_edit={{ selected_species_edit }}">›</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page_bbox={{ bboxes_images_paginated.paginator.num_pages }}&species_edit={{ selected_species_edit }}">&raquo;</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Lấy tab đang lưu trong localStorage
        let activeTab = localStorage.getItem("activeTab");

        if (!activeTab) {
            // Nếu chưa có tab nào được lưu, đặt tab đầu tiên làm mặc định
            activeTab = "nav-addlabel-tab";
            localStorage.setItem("activeTab", activeTab);
        }

        // Lấy và kích hoạt tab đã lưu
        let cleanTabId = activeTab.replace(/['"#]/g, "");
        let tabElement = document.getElementById(cleanTabId);

        if (tabElement) {
            new bootstrap.Tab(tabElement).show();
        }

        // Lưu tab khi người dùng bấm vào
        document.querySelectorAll('.nav-link').forEach(tab => {
            tab.addEventListener("click", function () {
                localStorage.setItem("activeTab", this.id);
            });
        });

        // Xử lý nút "Làm mới" trong tab "Gán nhãn"
        document.querySelector("#reset-filter-add").addEventListener("click", function () {
            let baseUrl = window.location.pathname; // Lấy URL gốc
            window.location.href = baseUrl; // Load lại trang không có tham số lọc
        });

        // Xử lý nút "Làm mới" trong tab "Chỉnh sửa nhãn"
        document.querySelector("#reset-filter-edit").addEventListener("click", function () {
            let baseUrl = window.location.pathname; // Lấy URL gốc
            window.location.href = baseUrl + "#nav-editLabel"; // Load lại và giữ nguyên tab
        });

    });

    document.querySelectorAll("#add-bbox-btn").forEach(button => {
        button.addEventListener("click", function () {
            let imgId = this.dataset.id;  // Lấy ID của ảnh
            window.location.href = `/annotation?imgId=${imgId}`;  // Chuyển hướng sang trang annotation
        });
    });
    document.querySelectorAll("#edit-bbox-btn").forEach(button => {
        button.addEventListener("click", function () {
            let imgId = this.dataset.id;  // Lấy ID của ảnh
            window.location.href = `/annotation?imgId=${imgId}`;  // Chuyển hướng sang trang annotation
        });
    });
</script>

{% endblock %}
