{% load static %}
{% load group_filters %}


<!--<!DOCTYPE html>-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Insects Database Website</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <!--        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">-->
    <!--        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">-->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    {% block extra_css %}{% endblock %}

</head>

<body>
<!-- debug 
    <div style="position: fixed; top: 10px; left: 10px; background: yellow; padding: 10px; z-index: 9999; border: 2px solid red;">
        <strong>DEBUG:</strong><br>
        User: {{ request.user.username }}<br>
        Authenticated: {{ request.user.is_authenticated }}<br>
        {% if request.user.is_authenticated %}
            Groups: {% for group in request.user.groups.all %}{{ group.name }}{% if not forloop.last %}, {% endif %}{% endfor %}<br>
            Has 'Users' group: {{ request.user|has_group:"Users" }}
        {% endif %}
    </div>-->
    <!-- Spinner Start -->
    <!--        <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">-->
    <!--            <div class="spinner-grow text-primary" role="status"></div>-->
    <!--        </div>-->
    <!-- Spinner End -->


    <!-- Navbar start -->
    <div class="sticky-top px-0">
        <div class="container-fluid px-0">
            <div class="topbar">
                <div class="row g-0 align-items-center justify-content-center">
                    <div class="col-md-8">
                        <div class="topbar-info d-flex flex-wrap">
                            <a href="#" class="text-light me-4"><i
                                    class="fas fa-envelope text-white me-2"></i>agriinsect360@gmail.com</a>
<!--                            <a href="#" class="text-light"><i-->
<!--                                    class="fas fa-phone-alt text-white me-2"></i>0328877277</a>-->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="topbar-icon d-flex align-items-center justify-content-end">
                            <a href="#" class="btn-square text-white me-2"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="btn-square text-white me-2"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="btn-square text-white me-2"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="btn-square text-white me-2"><i class="fab fa-pinterest"></i></a>
                            <a href="#" class="btn-square text-white me-0"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-light bg-light navbar-expand-xl w-100">
                <a href="/" class="navbar-brand ms-3">
                    <h1 class="text-primary display-9">Insects Database</h1>
                </a>
                <!--                    <button class="navbar-toggler py-2 px-3 me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-label="Toggle navigation" title="Toggle navigation">-->
                <!--                        <span class="fa fa-bars text-primary"></span>-->
                <!--                    </button>-->
                <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link active dropdown-toggle" id="optNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tùy chọn
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="optNavbarDropdown">
                                <li class="dropdown-item">
                                    <input type="checkbox" id="chk_insect_name" checked>
                                    <label for="chk_insect_name">Hiển thị nhãn côn trùng</label>
                                </li>

                                <li class="dropdown-item">
                                    <a href="#" id="export-excel-btn" style="text-decoration: none; color: black;">Xuất file Excel</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="/upload_folder_zip/" style="text-decoration: none; color: black;">Tải lên file Zip</a>
                                    <i class="fas fa-upload"></i>
                                </li>
                                
                                
                            </ul>
                        </li>
                        {% if request.user.is_authenticated %}
                            {% if request.user|has_group:"Users" %}
                            <li class="nav-item">
                                <a href="#" class="nav-link active dropdown-toggle" id="contribNavbarDropdown"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Đề xuất & Đóng góp
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="contribNavbarDropdown">
                                    <li class="dropdown-item">
                                        <a href="/append_insect/" style="text-decoration: none; color: black;">Đề xuất thêm côn trùng</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a href="/contrib_image/" style="text-decoration: none; color: black;">Đóng góp ảnh côn trùng</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a href="/add_desc/" style="text-decoration: none; color: black;">Đóng góp mô tả ảnh côn trùng</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a href="" style="text-decoration: none; color: black;">Đóng góp vị trí côn trùng</a>
                                    </li>
                                </ul>
                            </li>
                            {% elif request.user|has_group:"CVs" %}
                            <li class="nav-item">
                                <a href="#" class="nav-link active dropdown-toggle" id="verifyNavbarDropdown"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Xét duyệt
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="verifyNavbarDropdown">
                                    <li class="dropdown-item">
                                        <a href="/cv_verify/" style="text-decoration: none; color: black;">Xét duyệt đề xuất côn trùng</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a href="/cv_verify_new_image/" style="text-decoration: none; color: black;">Xét duyệt đóng góp hình ảnh mới</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a href="/cv_desc_verify/" style="text-decoration: none; color: black;">Xét duyệt đóng góp mô tả ảnh côn trùng</a>
                                    </li>
                                     <li class="dropdown-item">
                                        <a href="/cv_desc_verify/" style="text-decoration: none; color: black;">Xét duyệt đóng góp vị trí côn trùng</a>
                                    </li>
                                </ul>
                            </li>
                            {% elif request.user|has_group:"Admins" %}
                        <li class="nav-item">
                                <a href="#" class="nav-link active dropdown-toggle" id="acceptNavbarDropdown"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Chấp nhận
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="acceptNavbarDropdown">
                                    <li class="dropdown-item">
                                        <a href="/admin_verify/" style="text-decoration: none; color: black;">Chấp nhận đề xuất côn trùng</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a href="/admin_verify_new_image/" style="text-decoration: none; color: black;">Chấp nhận đóng góp hình ảnh mới</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a href="/admin_desc_verify/" style="text-decoration: none; color: black;">Chấp nhận đóng góp mô tả ảnh côn trùng</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a href="" style="text-decoration: none; color: black;">Chấp nhận đóng góp vị trí côn trùng</a>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                        {% endif %}
                        {% if request.user.is_authenticated %}
                            {% if request.user|has_group:"CVs" or request.user|has_group:"Admins" %}
                            <li class="nav-item">
                                <a href="#" class="nav-link active dropdown-toggle" id="cvManagerNavbarDropdown"
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Quản lý
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="cvManagerNavbarDropdown">
                                    {% if request.user|has_group:"CVs" %}
                                    <li class="dropdown-item">
                                        <a href="/manage_image/" style="text-decoration: none; color: black;">
                                            Quản lý ảnh
                                        </a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a href="/manage_label_n_bbox/" style="text-decoration: none; color: black;">
                                            Quản lý nhãn và bounding box
                                        </a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a href="/manage_image_desc/" style="text-decoration: none; color: black;">
                                            Quản lý mô tả ảnh
                                        </a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a href="" style="text-decoration: none; color: black;">
                                            Quản lý vị trí côn trùng
                                        </a>
                                    </li>
                                    {% elif request.user|has_group:"Admins" %}
                                    <li class="dropdown-item">
                                        <a href="/manage_insect/" style="text-decoration: none; color: black;">
                                            Quản lý côn trùng
                                        </a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a href="/manage_user/" style="text-decoration: none; color: black;">
                                            Quản lý người dùng
                                        </a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li class="dropdown-item">
                                        <a href="/admin/" style="text-decoration: none; color: black;">
                                            Trang quản trị
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                            {% endif %}
                        {% endif %}
                        <li class="nav-item">
                            <a href="/document/" class="nav-link active">
                                Tài liệu
                            </a>
                        </li>
                        {% if request.user.is_authenticated %}
                            {% if request.user|has_group:"CVs" %}

                            <!--                            <li class="nav-item">-->
                            <!--                                <a href="/data_crawler/" class="nav-link active">Cào ảnh</a>-->
                            <!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a href="/Labelling/" class="nav-link active">Gán nhãn</a>-->
<!--                            </li>-->
                            <li class="nav-item">
                                <a href="/crawl_images/" class="nav-link active">Thu thập</a>
                            </li>
                            <li class="nav-item">
                                <a href="/statistics/" class="nav-link active">Thống kê</a>
                            </li>
                           
                            {% elif request.user|has_group:"Admins" %}
                            <li class="nav-item">
                                <a href="/statistics/" class="nav-link active">Thống kê</a>
                            </li>
                            {% endif %}
                        {% endif %}
                        <li>
                            <a href="/detect_insect/" class="nav-link active">
                                Nhận dạng
                            </a>
                        </li>
                         <li class="nav-item">
                                    <a href="{% url 'distribution_map' %}" class="nav-link active">Bản đồ phân bố</a>
                                    
                        </li>
                        <!--                    <li class="nav-item">-->
                        <!--                        <a href="{% url 'download_folder' %}" class="nav-link active">-->
                        <!--                            Tải xuống-->
                        <!--                        </a>-->
                        <!--                    </li>-->


                        <li class="nav-item">
                            {% if request.user.is_authenticated %}
                            <a href="#" class="nav-link active dropdown-toggle" id=accountNavbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Chào {% if request.user.first_name or request.user.last_name %}
                                        {{ request.user.last_name }} {{ request.user.first_name }}
                                    {% else %}
                                        {{ request.user.username }}
                                    {% endif %}!
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="accountNavbarDropdown">
                                {% if request.user.is_authenticated %}
                                <li class="dropdown-item">
                                    <a href="/account_info/" style="text-decoration: none; color: black;">
                                        Thông tin tài khoản
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="dropdown-item">
                                    <a href="/logout/" style="text-decoration: none; color: black;">
                                        Đăng xuất
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="/login/" class="nav-link active">Đăng nhập</a>
                        </li>
                        <li class="nav-item">
                            <a href="/sign_up/" class="nav-link active">Đăng ký</a>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="ms-auto align-items-center">
                        <form action="{% url 'search_species' %}" method="get" class="d-flex my-3">
                            <div class="input-group mx-3">
                                <input id="searchInput" class="form-control" type="search" name="keyword" placeholder="Tìm kiếm côn trùng..." aria-label="Search" required>
                                <button class="btn btn-outline-primary" type="submit">
                                    <i class="bi bi-search"></i>
                                </button>
                                <a class="btn btn-primary d-inline-flex align-items-center justify-content-center" href="/detect_insect/">
                                    <i class="bi bi-camera-fill"></i>
                                </a>
                                <div id="suggestions" class="list-group position-absolute w-100" style="top: 100%; z-index: 1000;"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>



        </div>
    </div>
    <!-- Navbar End -->

    <div style="background-color: #F5F5F5;">
        <div style="background-color: #F5F5F5;">
<!--            <div>-->
<!--                <br>-->
<!--                <br>-->
<!--                <br>-->
<!--                <br>-->
<!--                <br>-->
<!--            </div>-->
            {% block content %}

            {% endblock %}
        </div>
    </div>



    <!-- Footer Start -->
    <div class="container-fluid footer bg-dark text-body py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="footer-item">
                        <h4 class="mb-4 text-white">Thông điệp</h4>
                        <p class="mb-4">Việc phát hiện và bảo tồn các loài côn trùng là một vấn đề rất quan trọng, liên quan đến sự đa dạng sinh thái của côn trùng.</p>
                        <div class="position-relative mx-auto">
                            <input class="form-control border-0 bg-secondary w-100 py-3 ps-4 pe-5" type="text"
                                placeholder="Nhập email...">
                            <a href="/sign_up/">
                                <button type="button"
                                    class="btn-hover-bg btn btn-primary position-absolute top-0 end-0 py-2 mt-2 me-2">
                                    Đăng ký
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="footer-item d-flex flex-column">
                        <h4 class="mb-4 text-white">Mục tiêu</h4>
                        <a href=""><i class="fas fa-angle-right me-2"></i> Nhận dạng côn trùng</a>
                        <a href=""><i class="fas fa-angle-right me-2"></i> Thông tin côn trùng</a>
                        <a href=""><i class="fas fa-angle-right me-2"></i> Bảo vệ mùa màng</a>
                        <a href=""><i class="fas fa-angle-right me-2"></i> Đa dạng sinh học</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="footer-item d-flex flex-column">
                        <h4 class="mb-4 text-white">Thành viên</h4>
                        <a href=""><i class="fas fa-angle-right me-2"></i> Đoàn Thanh Nghị</a>
                        <a href=""><i class="fas fa-angle-right me-2"></i> Nguyễn Quốc Anh</a>
                        <a href=""><i class="fas fa-angle-right me-2"></i> Nguyễn Hồng Tâm Như</a>
                       
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="footer-item">
                        <h4 class="mb-4 text-white">Một số hình ảnh côn trùng</h4>
                        <div class="row g-2">
                            <div class="col-4">
                                <div class="footer-gallery">
                                    <img src="{% static 'img/gallery-footer-1.jpg' %}" class="img-fluid w-100" alt="">
                                    <div class="footer-search-icon">
                                        <a href="{% static 'img/gallery-footer-1.jpg' %}"
                                            data-lightbox="footerGallery-1" class="my-auto"><i
                                                class="fas fa-search-plus text-white"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="footer-gallery">
                                    <img src="{% static 'img/gallery-footer-2.jpg' %}" class="img-fluid w-100" alt="">
                                    <div class="footer-search-icon">
                                        <a href="{% static 'img/gallery-footer-2.jpg' %}"
                                            data-lightbox="footerGallery-2" class="my-auto"><i
                                                class="fas fa-search-plus text-white"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="footer-gallery">
                                    <img src="{% static 'img/gallery-footer-3.jpg' %}" class="img-fluid w-100" alt="">
                                    <div class="footer-search-icon">
                                        <a href="{% static 'img/gallery-footer-3.jpg' %}"
                                            data-lightbox="footerGallery-3" class="my-auto"><i
                                                class="fas fa-search-plus text-white"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="footer-gallery">
                                    <img src="{% static 'img/gallery-footer-4.jpg' %}" class="img-fluid w-100" alt="">
                                    <div class="footer-search-icon">
                                        <a href="{% static 'img/gallery-footer-4.jpg' %}"
                                            data-lightbox="footerGallery-4" class="my-auto"><i
                                                class="fas fa-search-plus text-white"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="footer-gallery">
                                    <img src="{% static 'img/gallery-footer-5.jpg' %}" class="img-fluid w-100" alt="">
                                    <div class="footer-search-icon">
                                        <a href="{% static 'img/gallery-footer-5.jpg' %}"
                                            data-lightbox="footerGallery-5" class="my-auto"><i
                                                class="fas fa-search-plus text-white"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="footer-gallery">
                                    <img src="{% static 'img/gallery-footer-6.jpg' %}" class="img-fluid w-100" alt="">
                                    <div class="footer-search-icon">
                                        <a href="{% static 'img/gallery-footer-6.jpg' %}"
                                            data-lightbox="footerGallery-6" class="my-auto"><i
                                                class="fas fa-search-plus text-white"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->




    <!-- Copyright Start -->
    <div class="container-fluid copyright py-4">
        <div class="container">
            <div class="row g-4 align-items-center">
                <div class="col-md-4 text-center text-md-start mb-md-0">
                    <span class="text-body"><a href="#"><i class="fas fa-copyright text-light me-2"></i>Insect
                            Database</a>, All right reserved.</span>
                </div>
                <div class="col-md-4 text-center">
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="#" class="btn-hover-color btn-square text-white me-2"><i
                                class="fab fa-facebook-f"></i></a>
                        <a href="#" class="btn-hover-color btn-square text-white me-2"><i
                                class="fab fa-twitter"></i></a>
                        <a href="#" class="btn-hover-color btn-square text-white me-2"><i
                                class="fab fa-instagram"></i></a>
                        <a href="#" class="btn-hover-color btn-square text-white me-2"><i
                                class="fab fa-pinterest"></i></a>
                        <a href="#" class="btn-hover-color btn-square text-white me-0"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-md-4 text-center text-md-end text-body">
                    <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                    <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                    <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                    <!--/*** Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a class="border-bottom" href="https://themewagon.com">ThemeWagon</a>***/-->
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i
            class="fa fa-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.4.120/pdf.min.js"></script>

    <script>

        document.getElementById("searchInput").addEventListener("keyup", function () {
            const keyword = this.value;
            const suggestionsBox = document.getElementById("suggestions");

            if (keyword.length > 0) {
                fetch(`search_suggestions/?keyword=${encodeURIComponent(keyword)}`)
                    .then(response => response.json())
                    .then(data => {
                        let suggestionsHtml = "";
                        if (data.length > 0) {
                            data.forEach(item => {
                                suggestionsHtml += `
                                    <a href="/search/?keyword=${encodeURIComponent(item.name)}" class="list-group-item list-group-item-action d-flex align-items-center">
                                        <img src="${item.thumbnail}" class="me-2" style="width: 40px; height: 40px; object-fit: cover; border-radius: 3px;">
                                        <span>${item.name}</span>
                                    </a>`;
                            });
                        } else {
                            suggestionsHtml = `<div class="list-group-item">Không tìm thấy</div>`;
                        }
                        suggestionsBox.innerHTML = suggestionsHtml;
                        suggestionsBox.style.display = "block";
                    });
            } else {
                suggestionsBox.style.display = "none";
            }
        });

        // Ẩn gợi ý khi click ra ngoài
        document.addEventListener("click", function (e) {
            if (!document.getElementById("searchInput").contains(e.target)) {
                document.getElementById("suggestions").style.display = "none";
            }
        });

        $(document).ready(function () {
            $('#export-excel-btn').on('click', function (event) {
                event.preventDefault(); // Prevent the default anchor behavior
                // Redirect the user to the export URL, triggering the download
                window.location.href = '/export_excel/';
            });
        });

        $(document).ready(function () {
            $('#export-excel-btn').on('click', function (event) {
                event.preventDefault(); // Prevent the default anchor behavior
                // Show the loading modal
                $('#loadingModal').modal('show');
                // Redirect the user to the export URL, triggering the download
                // Note: The modal will not close here because the page will navigate away.
                window.location.href = '/export_data/';
            });
        });

        // document.getElementById("folder").addEventListener("change", function() {
        //     document.getElementById("uploadForm").submit();
        // });
    </script>
    {% block extra_js %}{% endblock %}

</body>

</html>